<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="mediaqueries.css"> {% endcomment %}
    <title>Portefolio</title>
</head>
<body>
    <!--Navigation bar-->
    <nav id="desktop-nav">
        <div class="logo">Emmanuel Angelo</div>
        <div>
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#project">Project</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!---Proflic-hamburger bar-->
    <nav id="hamburger-nav">
        <div class="logo">Emmanuel Angelo</div>
        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-links">
                <li><a href="#about" onclick="toggleMenu()">About</a></li>
                <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
                <li><a href="#project" onclick="toggleMenu()">Project</a></li>
                <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
            </div>
        </div>
    </nav>

<!-- Profile/ Social media -->
    <section id="profile">
        <div class="section__pic-container">
            <img src="img/profile-pic-2.JPG"  alt="Emmanuel Angelo profile pic" class="pic-1">
        </div>

        <div class="section__text">
            <p class="section__text__p1">Hello, I'm</p>
            <h1>Okwaraigwe Emmanuel Kwame Angelo</h1>
            <p class="section__text__p2">Frontend Developer</p>
            
            <div class="btn-container">
                <button class="btn btn-color-2" 
                onclick="window.open('./img/CV_2025011814035841.pdf')">
                Download CV</button>

                <button class="btn btn-color-1" 
                onclick="location.href='./#contact'">
                Contact Info
            </button>
            </div>

            <div id="socials-container">
                <img src="img/linkedin.png" alt="My Linkedin profile"
                class="icon" 
                onclick="location.href=
                'https://www.linkedin.com/in/mrangelo4199'">
                
                <img src="img/github.png" alt="My GitHub profile"
                class="icon" 
                onclick="location.href=
                'https://github.com/emmanuelangelo4199'">
            </div>
        </div>
    </section>

<!-- About Details -->
    <section id="about">
        <p class="section__text__p1">Get To Know More</p>
        <h1 class="title">About Me</h1>
        <div class="section-container">
            <div class="section__pic-container">
                <img src="img/about-pic.JPG" alt="profile-pic"
                class="about-pic">
            </div>

            <div class="about-details-container">
                <div class="about-containers">
                    <div class="details-container">
                        <img src="img/experience.png" alt="experience icon"
                        class="icon">
                        <h3>Experience</h3>
                        <p>1 year<br> Frontend Development</p>
                    </div>
                    <div class="details-container">
                        <img src="img/education.png" alt="education icon"
                        class="icon">
                        <h3>Education</h3>
                        <p>UnderGraduate <br> B.Sc. Bachelors Degree 
                        <br> Information Communication Techonology (ICT)
                        </p>
                    </div>
                </div>
                <div class="text-container">
                    <p>Hey guys i'm Angelo an enthuastic and intermidate Front-end developer who is intrested in software innovation 
and all about tech i have a passion for evolvment of tech in the world as a whole. My passion is to be a Web-application dev 
and a Java programmer. I'm enthuastic on a whole other level my love for tech and basketball is one.

I'm open to learn more and to collabrate with other techies like i, build a better place for tech 🙂</p>
                </div>
            </div>
        </div>
        <img src="img/arrow.png" alt="Arrow icon" 
        class="icon arrow" onclick="location.href='./#experience'">
    </section>

    <!-- Exprience -->
     <section id="experience">
        <p class="section__text__p1">Explore My</p>
        <h1 class="title">Experience</h1>
        <div class="experience-details-container">
            <div class="about-containers">
                <!-- FrontEnd -->
                <div class="details-container">
                    <h2 class="experience-sub-title">Frontend Development</h2>
                    <div class="article-container">
                        <article>
                            <img src="img/checkmark.png" alt="experirnce icon"
                            class="icon">
                            <div>
                                <h3>HTML</h3>
                                <p>Intermidate</p>
                            </div>
                        </article>
                        <article>
                            <img src="img/checkmark.png" alt="experirnce icon"
                            class="icon">
                            <div>
                                <h3>CSS</h3>
                                <p>Intermidate</p>
                            </div>
                        </article>
                        <article>
                            <img src="img/checkmark.png" alt="experirnce icon"
                            class="icon">
                            <div>
                                <h3>JavaScript</h3>
                                <p>Basic</p>
                            </div>
                        </article>
                        
                    </div>
                </div>

                <!-- Backend -->
                <div class="details-container">
                    <h2 class="experience-sub-title">Backend Development</h2>
                    <div class="article-container">
                        <article>
                            <img src="img/checkmark.png" alt="experirnce icon"
                            class="icon">
                            <div>
                                <h3>Java</h3>
                                <p>Intermidate</p>
                            </div>
                        </article>
                        <article>
                            <img src="img/checkmark.png" alt="experirnce icon"
                            class="icon">
                            <div>
                                <h3>MySql</h3>
                                <p>Basic</p>
                            </div>
                        </article>
                        <article>
                            <img src="img/checkmark.png" alt="experirnce icon"
                            class="icon">
                            <div>
                                <h3>Git</h3>
                                <p>Basic</p>
                            </div>
                        </article>
                        
                    </div>
                </div>
            </div>
        </div>
        <img src="img/arrow.png" alt="Arrow icon" 
        class="icon arrow" onclick="location.href='./#project'">
     </section>

     <!-- Project Section -->
      <section id="project">
        <p class="section__text__p1">Browse My Recent</p>
        <h1 class="title">Projects</h1>
        <div class="experience-details-container">
            <div class="about-containers">
            <!-- 1 -->
            <div class="details-container color-container">
                <div class="article-container">
                    <img src="img/makas.jpg" alt="project 1"
                    class="project-img">
                </div>
                <h2 class="experience-sub-title project-title">Food Cathering</h2>
                <div class="btn-container">
                    <button class="btn btn-color-2 project-btn" 
                    onclick="location.href='https://github.com/emmanuelangelo4199/BusinessWeb.git'">
                        GitHub
                    </button>
                    <button class="btn btn-color-1 project-btn" 
                    onclick="location.href='https://github.com/'">
                        Live Demo
                    </button>
                </div>
            </div>

            <!-- 2 -->
            <div class="details-container color-container">
                <div class="article-container">
                    <img src="img/weather.jpg" alt="project 2"
                    class="project-img">
                </div>
                <h2 class="experience-sub-title project-title">Weather App</h2>
                <div class="btn-container">
                    <button class="btn btn-color-1 project-btn" 
                    onclick="location.href='https://github.com/emmanuelangelo4199/ToDo-List.git'">
                        GitHub
                    </button>
                    <button class="btn btn-color-2 project-btn" 
                    onclick="location.href='https://github.com/'">
                        Live Demo
                    </button>
                </div>
            </div>

        <!-- 3 -->
            <div class="details-container color-container">
                <div class="article-container">
                    <img src="img/todo.jpg" alt="project 3"
                    class="project-img">
                </div>
                <h2 class="experience-sub-title project-title">ToDo-List</h2>
                <div class="btn-container">
                    <button class="btn btn-color-2 project-btn" 
                    onclick="location.href='https://github.com/emmanuelangelo4199/ToDo-List.git'">
                        GitHub
                    </button>
                    <button class="btn btn-color-1 project-btn" 
                    onclick="location.href='https://github.com/'">
                        Live Demo
                    </button>
                </div>
            </div>
        </div>
        </div>
        <img src="img/arrow.png" alt="Arrow icon" 
        class="icon arrow" 
        onclick="location.href='./#contact'">
      </section>

      <!-- Contact -->
       <section id="contact">
        <p class="section__text__p1">Get In Touch</p>
        <h1 class="title">Contact Me</h1>
        <div class="contact-info-upper-container">
            <div class="contact-info-container">
                <img src="img/email.png" alt="Email Icon"
                class="icon contact-icon">
                <p><a href="mailto:emmanuemmezie578@gmail.com">
                    Email 
                </a>
            </p>
            </div>
            <!-- 2 -->
            <div class="contact-info-container">
                <img src="img/linkedin.png" alt="Linkedin Icon"
                class="icon contact-icon">
                <p><a href="https://www.linkedin.com/in/mrangelo4199">
                    Linkedin 
                </a>
            </p>
            </div>
        </div>
       </section>

    <script src="script.js"></script>
</body>
</html>
